body {
    background-color: rgb(41, 41, 41);
}

#stopwatch {
    background-color: grey;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}